{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions"]
                }
            }
        ],
        "stage-2"
    ],
    "plugins": ["external-helpers",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                "@ava/stage-4",
                "@ava/transform-test-files"
            ]
        }
    }
}
