.DS_Store

node_modules/
dist/*
!dist/*.js
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

.idea/
bower_components/

Thumbs.db
ehthumbs.db
*.lnk
Desktop.ini

*.sublime-workspace
*.sublime-project
*.sublime-settings
